<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<h1>Welcome <%= uname%></h1>
<h3>Your paper id is <%= testid %></h3>
<h3>Student id is <%= studentid %></h3>

<div class="w3-container">
  <h2>True and false Result</h2>
  
<br>
  <table class="w3-table-all">
    <thead>
      <tr class="w3-red">  
      <% var xyz= mcqx2.mcqanswer %> <% var  lenn=xyz.length %>
      <th>Question</th> <th>Weightage</th> <th> op1 </th><th>op2</th> 
      <th>op3</th><th>op4</th><th>Correct Answer</th>  <th>Your Answer</th></tr>
    </thead>
    <% for(i=0;i<lenn;i++){ %> 
    <tr><td>
    <%= mcqx1[i].mcqquestion %></td>
         <td><%= mcqx1[i].mcqweightage %></td><td><%= mcqx1[i].mcqoptionone %></td><td><%= mcqx1[i].mcqoptiontwo %></td>
         <td><%= mcqx1[i].mcqoptionthree %></td><td><%= mcqx1[i].mcqoptionfour %></td>
          <td><%= mcqx1[i].mcqcorrectoption %></td>
       <td><%= xyz[i] %></td>

    </tr>
    <% } %>
  </table>
 <h1> <%= studentid %> scored <%= mcqx3.mcqstudentmarks%></h1>
  
</div>